* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  position:relative;
}

.container:after {
  content: "";
  clear: both;
  display: table;
}

.topbar {
  background-color: #F5F8FA;
  line-height: 75px;
  border-bottom: 1px solid #cbd6e2;
}

.top_left {
  float: left;
  width: 30%;
}

.top_right {
  float: right;
}

.top_left ul,.top_right ul {
  list-style-type: none;
}

.globe_unit{
  padding-top: 25px;
  margin-right: 5px;
  display: inline;
}

.lang{
  border-right: 2px solid #cbd6e2;
}

.arrow-down {
  position: absolute;
  top: 26px;
  color: #7C98B6;
}

li {
  display: inline;
  padding: 10px;
}

a {
  color: #516374;
  text-decoration: none;
}

.lang_menu {
  padding-right: 20px;
}

button {
 text-decoration: none;
 font-family: 'Montserrat', sans-serif;
 border: 1px solid #ff7a59;
 border-radius: 2px;
 padding: 9px 16px;
}

#login{
  margin: 0 5px 0 5px;
  background-color: #FFF8F6;
  color: #ff7a59;
}

.orange_button {
  background-color: #ff7a59;
  color: #FFF8F6;
  font-weight: 900;
}

.mgn_access {
  position: relative;
  top:  28px;
}

.menu {
  background-color: white;
  line-height: 75px;
}

li a {
  text-decoration: none;
}

.top_left a img {
  vertical-align: middle;
}

.jumbo {
  height: 650px;
  line-height: 2;
  background-image: url("https://i.postimg.cc/cdBXbBNz/Immagine.png");
  background-repeat: no-repeat;
  background-size: 100% 650px;
}

.jum_right{
  float: left;
  width: 50%;
}

.jum_right h1 {
  margin-top: 80px;
  font-size: 40px;
}

.jum_right p{
  margin: 16px 0;
}

.jum_right button {
  padding: 26px 48px;
  font-size: 16px;
}

.jumbo_details {
  width: 35%;
  font-size: 12px;
  line-height: 1.5;
}

.content {
  background-color: #F5F8FA;
  height: 1450px;
}

.rubix {
  height: 450px;
  position: relative;
  max-width: 750px;
  margin: auto;
}

.rubix .container{
  height: 80%;
}

.rubix_first_half{
  height: 80%;
}

.rubimg {
  width: 260px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.rubix h1,.rubix p{
  text-align: center;
}

.rubix h1{
  margin-bottom: 20px;
}

.rubix p{
  line-height: 1.5;
}

.features {
  max-width: 1000px;
  margin: auto;
  padding: 0 40px 40px 40px;
}

.crm {
  background: #FFFFFF;
  height: 280px;
  padding: 30px;
}

.crm_left {
  float:left;
  height: 100%;
  width: 40%;
  padding: 0 9%;
}

.feature_img {
  height: 150px;
}

.crm_text {
  float:left;
  width: 60%;
  height: 100%;
}

.learn_more {
  text-align: center;
  padding-top: 20px;
}

.crm_text h4 {
  margin: 20px 0;
  font-size: 20px;
}

.crm_text p{
  line-height: 1.5;
  margin: 20px 0;
  font-size: 14px;
  padding-right: 70px;
}

.crm-pop-line span{
  float: left;
  font-size: 14px;
  font-weight: 900;
}

.crm-line {
  padding: 10px 0 10px 10px;
  width: 60%;
  float: left;
}

.crm-line hr{
  border: 0.5px solid #cbd6e2;
}

.clearfix:after{
  content: "";
  clear: both;
  display: table;
}

.list-features{
  margin-top: 15px;
  font-weight: 900;
}

.list-features li{
  font-size: 14px;
}

.check {
  color: #ff7a59;
  margin-right: 10px;
  font-size: 16px;
}

.column_box {
  height: 600px;
}

.column {
  width: 30.33%;
  height: 100%;
  background-color: #FFFFFF;
  margin: 36px 0;
  padding: 30px;
  float: left;
}

.col-img {
  text-align: center;
}

.col-img img{
  height: 150px;
  text-align: center;
}

.col-text h4{
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
  font-size: 20px;
}

.col-text p{
  line-height: 1.5;
  margin: 20px 0;
  font-size: 14px;
}

.col-text hr{
  margin: 20px 0;
}

.col-text ul li{
  display: block;
  padding: 2px 0;
}

.list-features h5{
  font-size: 14px;
  text-align: center;
}

.mid-col {
  margin-left: 4.5%;
  margin-right: 4.5%;
}

.bluestrip {
  height: 880px;
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  color: #FFFFFF;
  padding: 100px 0;
}

.bluestrip h1,.bluestrip p{
  text-align: center;
  margin: 0 80px;
  line-height: 1.5;
}

.bluestrip p{
  margin-top: 20px;
  margin-bottom: 100px;
}

.line {
  height: 180px;
  position: relative;

}

.block {
  width: 25%;
  border: 1px solid #FFFFFF;
  text-align: center;
  padding: 30px;
  display: inline-block;
}

.topblock {
  border-top: 0px;
}

.bleft{
  border-left: 0px;
  border-right: 0px;
}

.block h2{
  font-size: 46px;
  margin: 5px auto 5px auto;
}

.block span{
  font-size: 12px;
  margin
}

div .line{
  font-size:0;
}

.topmidblock {
  border-right:0;
}

.botblock {
  border-top:0;
  border-bottom:0;
}
